<div class="container">
    <div class="card mt-5" style="align-items:center">
        <h1>Application Status</h1>
    </div>
    

    
      <div class="mt-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ApplicationID</th>
              <th>Name</th>
              <th>schoolname</th>
              <th>Status</th>
              
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let Status of statusDetails">

              <td>{{Status.applycationId}}</td>
              <td>{{Status.name}}</td>
              <td>{{Status.schoolname}}</td>
              <td>{{Status.status}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>